<ion-header>

  <ion-navbar color="primary">
    <ion-title *ngIf="tour">{{tour.placeDetails.pl_name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div *ngIf="tour">

		<h1>{{ tour.placeDetails.pl_name }}</h1>

		<ion-slides class="ltr" pager>
		  	<ion-slide>
		    	<img src="{{tour.placeDetails.thumb_image}}" style="max-width: 100%; height: 200px;">
		  	</ion-slide>
		  	<ion-slide *ngFor="let gimg of tour.place_gallary">
		    	<img src="{{gimg.place_url}}" style="max-width: 100%; height: 200px;">
		  	</ion-slide>
		</ion-slides>
		<hr>

		<p>{{ tour.placeDetails.pl_address }}</p>
		<br>
		
		<ion-list>
			<ion-item>
				<ion-icon name="leaf" item-start></ion-icon>
			    الغرفة المزدوجة:
			    <ion-badge item-end>{{ tour.placeDetails.ADULT }}</ion-badge>
			</ion-item>
			<ion-item>
				<ion-icon name="leaf" item-start></ion-icon>
			    الغرفة المفردة:
			    <ion-badge item-end>{{ tour.placeDetails.SINGLE }}</ion-badge>
			</ion-item>
			<ion-item>
				<ion-icon name="leaf" item-start></ion-icon>
			    (6-11 سنة):
			    <ion-badge item-end>{{ tour.placeDetails.SINGLE }}</ion-badge>
			</ion-item>
			<ion-item>
				<ion-icon name="leaf" item-start></ion-icon>
			    (2-5 سنة):
			    <ion-badge item-end>{{ tour.placeDetails.SINGLE }}</ion-badge>
			</ion-item>
			<ion-item>
				<ion-icon name="leaf" item-start></ion-icon>
			    اطفال صغار:
			    <ion-badge item-end>{{ tour.placeDetails.SINGLE }}</ion-badge>
			</ion-item>
			<ion-item>
				<ion-icon name="leaf" item-start></ion-icon>
			    المدة:
			    <ion-badge item-end>{{ tour.placeDetails.SINGLE }}</ion-badge>
			</ion-item>
			<ion-item>
				<ion-icon name="leaf" item-start></ion-icon>
			    تاريخ الرحلة:
			    <ion-badge item-end>{{ tour.placeDetails.SINGLE }}</ion-badge>
			</ion-item>
		</ion-list>

		<ion-card>
		  <ion-card-header>
		    التفاصيل
		  </ion-card-header>
		  <ion-card-content>
		    <div [innerHtml]="tour.placeDetails.Summary"></div>
		  </ion-card-content>
		</ion-card>

		<ion-card>
		  <ion-card-header>
		    مسار الرحلة
		  </ion-card-header>
		  <ion-card-content>
		    <div [innerHtml]="tour.placeDetails.Itinerary"></div>
		  </ion-card-content>
		</ion-card>

		<ion-card>
		  <ion-card-header>
		    المحتويات
		  </ion-card-header>
		  <ion-card-content>
		    <div [innerHtml]="tour.placeDetails.Inclusions"></div>
		  </ion-card-content>
		</ion-card>	

	</div>
	<br>

	<button (click)="goToBooking(tour.placeDetails.id, tour.placeDetails)" ion-button block round color="secondary">احجز الأن</button>

	<br>
	<a href="#" (click)="backToHome()" ion-button round block>العودة للتصنيفات</a>

</ion-content>
