<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>المرجان للرحلات وللسياحة</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid class="hp_patron">
        <ion-row>
            <ion-col></ion-col>
            <ion-col col-6>
                <div class="text-center">
                    <img src="assets/imgs/logo.png">
                </div>
            </ion-col>
            <ion-col></ion-col>
        </ion-row>
    </ion-grid>

    <!-- <ion-slides pager class="ltr hp_slider">
        <ion-slide *ngFor="let slide of slides">
            <img src="assets/imgs/slides/{{slide}}.jpg" style="max-width: 100%; ">
        </ion-slide>
    </ion-slides> -->


    <ion-grid>
        <ion-row class="hp_nav" *ngFor="let dept of departments">
          <ion-col>
            <a href="#" (click)="ToursPage(dept.id, dept.name)" ion-button round block>
                {{dept.name}}
            </a>
          </ion-col>
        </ion-row>
    </ion-grid>

    <hr>

    <ion-grid>
        <ion-row>
            <ion-col>
                <button (click)="goToAbout()" ion-button color="danger" outline block round icon-left>
                    <ion-icon name="information-circle"></ion-icon>
                    من نحن
                </button>
            </ion-col>
            <ion-col>
                <button (click)="goToContact()" ion-button color="danger" outline block round icon-left>
                    <ion-icon name="contact"></ion-icon>
                    تواصل معنا
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>