<ion-header persistent="true">

	<ion-navbar color="primary" swipeBackEnabled="false" persistent="true">
		<button ion-button menuToggle>
	  		<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{page_title}}</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>

	<div *ngIf="tours">
		<ion-card *ngFor="let tour of tours.rows">
			<a href="#" (click)="tourDetails(tour.id)">
				<img src="{{tour.thumb_image}}"/>
			</a>
			<ion-card-content>
				<a href="#" class="th" (click)="tourDetails(tour.id)">
			    <ion-card-title>
			      {{tour.pl_name}}
			      </ion-card-title>
			      </a>
			    <p>
			      {{tour.pl_address}}
			    </p>
			</ion-card-content>
		</ion-card>
	</div>

	<br>
	<a href="#" (click)="backToHome()" ion-button round block secondary>العودة للتصنيفات</a>

</ion-content>
